<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
    <link rel="icon" href="{% static 'app/assets/imgs/maame.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/normalize.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/components.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/chat.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/sumo-bot.css' %}" type="text/css"/>      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <title>Acceptability Of Covid-19 Vaccine In Ghana</title>
</head>
<body>
<div class="hero-h2">
    <form id="form" class="form">
        <!-- Main menu -->

        <cf-robot-message cf-questions="DEMOGRAPHICS"></cf-robot-message>
        <cf-robot-message cf-questions="Please indicate your response or answer in this section or choose the number to the option that best suits your response"></cf-robot-message>
        <!-- <cf-robot-message cf-questions="QUESTION 01"></cf-robot-message> -->

        <fieldset>
            <label for="number">Age</label>
            <input type="number" cf-questions="Hi, Kindly input your age" class="form-control" name="cfc-q1"/>
        </fieldset>

        <!-- <fieldset>
            <label for="name">Contact</label>
            <input type="text" cf-questions="Kindly input your phone number" class="form-control" name="cfc-q1"/>
        </fieldset>     -->

        <!-- <cf-robot-message cf-questions="QUESTION 02"></cf-robot-message> -->
        <fieldset cf-questions="Kindly select your gender" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q2" value="Male" class="form-control" cf-label="Male">
            <input type="radio" name="cfc-q2" value="Female" class="form-control" cf-label="Female">
        </fieldset>
      
        <!-- <cf-robot-message cf-questions="QUESTION 03"></cf-robot-message> -->
        <fieldset cf-questions="Marital Status" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q3" value="Single" class="form-control" cf-label="Single">
            <input type="radio" name="cfc-q3" value="Married" class="form-control" cf-label="Married">
            <input type="radio" name="cfc-q3" value="Divorced" class="form-control" cf-label="Divorced">
            <input type="radio" name="cfc-q3" value="Widowed" class="form-control" cf-label="Widowed">
        </fieldset>
      
        <!-- <cf-robot-message cf-questions="QUESTION 04"></cf-robot-message> -->
        <fieldset cf-questions="What is your religion?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q4" value="Christianity" cf-label="Christianity">
            <input type="radio" name="cfc-q4" value="Islamic" cf-label="Islamic">
            <input type="radio" name="cfc-q4" value="Traditional" cf-label="Traditional">
            <input type="radio" name="cfc-q4" value="Other-Religion" cf-label="Other">
        </fieldset>

        <fieldset>
        <label for="name">Religion</label>
        <input type="text" name="cfc-q4-other" cf-conditional-cfc-q4="Other-Religion" cf-questions="Kindly enter your religion" class="form-control"/>
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 05"></cf-robot-message> -->
        <fieldset cf-questions="Type of job" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q5" value="Civil/Public Servant" class="form-control" cf-label="Civil/Public Servant">
            <input type="radio"  name="cfc-q5" value="Entrepreneur" class="form-control" cf-label="Entrepreneur">
            <input type="radio" name="cfc-q5" value="Retiree" class="form-control" cf-label="Retiree">
            <input type="radio" name="cfc-q5" value="Student" class="form-control" cf-label="Student">
            <input type="radio" name="cfc-q5" value="Unemployed" class="form-control" cf-label="Unemployed">
            <input type="radio"  name="cfc-q5" value="Clergy/Religious Leader" class="form-control" cf-label="Clergy/Religious Leader">
            <input type="radio" name="cfc-q5" value="Formal private sector employee (e.g. bank, industry)" class="form-control" cf-label="Formal private sector employee (e.g. bank, industry)">
            <input type="radio" name="cfc-q5" value="Informal private sector employee (artisans, e.t.c)" class="form-control" cf-label="Informal private sector employee (artisans, e.t.c)">
            <input type="radio"  name="cfc-q5" value="Job-Type-Other" class="form-control" cf-label="Job-Type-Other">
        </fieldset>

        <fieldset>
            <label for="name">Job Type</label>
            <input type="text" name="cfc-q5-other" cf-conditional-cfc-q5="Job-Type-Other" cf-questions="Kindly enter your job type" class="form-control"/>
        </fieldset> 

        <!-- <cf-robot-message cf-questions="QUESTION 06"></cf-robot-message> -->
        <!-- <fieldset>
            <label for="name">Nationality</label>
            <input type="text" name="cfc-q6"  cf-questions="Kindly enter your nationality" class="form-control"/>
        </fieldset> -->

        <!-- <cf-robot-message cf-questions="QUESTION 07"></cf-robot-message> -->
        {% comment %} <fieldset>
            <label for="name">Country of residence</label>
            <input type="text" name="cfc-q7" cf-questions="Kindly enter your country of residence" class="form-control"/>
        </fieldset> {% endcomment %}

        <!-- <cf-robot-message cf-questions="QUESTION 08"></cf-robot-message> -->
        <fieldset cf-questions="Is your category of job Healthcare or Health-related?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q8" value="Yes" class="form-control" cf-label="Yes">
            <input type="radio" name="cfc-q8" value="No" class="form-control" cf-label="No">
        </fieldset>

        <!-- 
            BRANCH DOWN
         -->

        <!-- <cf-robot-message cf-questions="QUESTION 09"></cf-robot-message> -->
        <fieldset cf-questions="Which of the categories below best fits your job?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q9" cf-conditional-cfc-q8="Yes"  cf-label="Clinical/Diagnostic" class="form-control" value="Clinical/Diagnostic">
            <input type="radio" name="cfc-q9" cf-conditional-cfc-q8="Yes"  cf-label="Non-clinical/Administrative" class="form-control" value="Non-clinical/Administrative">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 10"></cf-robot-message> -->
        <cf-robot-message cf-questions="KNOWLEDGE OF RISK Of COVID-19"></cf-robot-message>
        <fieldset cf-questions="Have you heard about COVID-19 before this survey?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q10"  cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q10"  cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 11"></cf-robot-message> -->
        <fieldset cf-questions="Do you consider yourself to be at risk of exposure to SARS-CoV 2/COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q11" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q11" cf-label="No" class="form-control" value="No">
        </fieldset>
        
        <!-- <cf-robot-message cf-questions="QUESTION 12"></cf-robot-message> -->
        <fieldset cf-questions="Do you know of anyone who has been diagnosed with COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q12" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q12" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 13"></cf-robot-message> -->
        <fieldset cf-questions="Do you know of anyone who has been hospitalized because of COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q13" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q13" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 14"></cf-robot-message> -->
        <fieldset cf-questions="Do you know of anyone who has died as a result of COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q14" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q14" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 15"></cf-robot-message> -->
        <fieldset cf-questions="Do you know of the preventive measures for COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q15" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q15" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 16"></cf-robot-message> -->
        <fieldset cf-questions="Do you believe face mask can protect you from getting COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q16" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q16" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 17"></cf-robot-message> -->
        <fieldset cf-questions="Do you believe social distancing can protect you from getting COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q17" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q17" cf-label="No" class="form-control" value="No">
        </fieldset>
        
        <!-- <cf-robot-message cf-questions="QUESTION 18"></cf-robot-message> -->
        <fieldset cf-questions="Do you believe hand washing can protect you from getting COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q18" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q18" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 19"></cf-robot-message> -->
        <fieldset cf-questions="Do you think COVID-19 is gone?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q19" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q19" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 20"></cf-robot-message> -->
        <fieldset cf-questions="Do you think we need a vaccine to control COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q20" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q20" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 21"></cf-robot-message> -->
        <fieldset cf-questions="Do you think vaccines in general are safe or useful?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q21" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q21" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 22"></cf-robot-message> -->
        <fieldset cf-questions="Have you ever heard of any COVID-19 candidate vaccine?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q22" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q22" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 23"></cf-robot-message> -->
        <fieldset cf-questions="Will you willingly/voluntarily participate in a clinical trial for a COVID-19 candidate vaccine?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q23" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q23" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- 
            BRANCH 1
            cf-conditional-name="value"
         -->
         <!--BRANCH NO  -->
        <!-- <cf-robot-message cf-questions="QUESTION 24"></cf-robot-message> -->
        <fieldset cf-questions="What is your reason for answering No to the previous question?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q24" cf-conditional-cfc-q23="No" cf-label="I don’t believe it will protect me." class="form-control" value="I don’t believe it will protect me.">
            <input type="radio" name="cfc-q24" cf-conditional-cfc-q23="No" cf-label="I am afraid of the side effects." class="form-control" value="I am afraid of the side effects.">
            <input type="radio" name="cfc-q24" cf-conditional-cfc-q23="No" cf-label="I don’t trust the manufacturer or those countries producing it." class="form-control" value="I don’t trust the manufacturer or those countries producing it.">
            <input type="radio" name="cfc-q24" cf-conditional-cfc-q23="No" cf-label="Reason-Other" class="form-control" value="Reason-Other">
        </fieldset>

        <fieldset>
            <label for="name">Reason</label>
            <input type="number" cf-questions="Kindly enter your reason" cf-conditional-cfc-23="Reason-Other" class="form-control" name="cfc-24-other"/>
        </fieldset>

        <!-- 
            BRANCH
        -->

        <!-- 
            BRANCH FROM 23
        -->
        <!-- <cf-robot-message cf-questions="QUESTION 25"></cf-robot-message> -->
        <fieldset cf-questions="What will be your motivation to do so?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q25" cf-conditional-cfc-q23="Yes" cf-label="For monetary gain" class="form-control" value="For monetary gain"> 
            <input type="radio" name="cfc-q25" cf-conditional-cfc-q23="Yes" cf-label="I want to be part of the first to get protected" class="form-control" value="I want to be part of the first to get protected">
            <input type="radio" name="cfc-q25" cf-conditional-cfc-q23="Yes" cf-label="I want to sacrifice for the good of the general population" class="form-control" value="I want to sacrifice for the good of the general population"> 
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 26"></cf-robot-message> -->
        <fieldset cf-questions="Which route of administration of the vaccine would you prefer?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q26" cf-conditional-cfc-q23="Yes" cf-label="Intranasal (sprayed into the nose)" class="form-control" value="Intranasal (sprayed into the nose)">
            <input type="radio" name="cfc-q26" cf-conditional-cfc-q23="Yes" cf-label="Injection (Intramuscular and Intradermal)" class="form-control" value="Injection (Intramuscular and Intradermal)"> 
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 27"></cf-robot-message> -->
        <fieldset cf-questions="Which type of vaccine against SARS-CoV-2 are you likely to accept?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="Live but weakened version of the SARS-CoV-2" class="form-control" value="Live but weakened version of the SARS-CoV-2">
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="A small part of the SARS-CoV-2 genetic material has been inserted into another virus (A small part of the SARS-CoV-2 genetic material has been inserted into another virus (microbe) which does not affect humans in anyway.) which does not affect humans in anyway." class="form-control" value="A small part of the SARS-CoV-2 genetic material has been inserted into another virus (microbe) which does not affect humans in anyway."> 
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="A small part of the SARS-CoV-2 genetic material has been removed so that it is not likely to cause disease." class="form-control" value="A small part of the SARS-CoV-2 genetic material has been removed so that it is not likely to cause disease.">
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="Majority of the SARS-CoV-2 genetic material has been removed so that it is not likely to cause disease." class="form-control" value="Majority of the SARS-CoV-2 genetic material has been removed so that it is not likely to cause disease.">
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="Only the genetic material of the SARS-CoV-2 will be injected." class="form-control" cf-label="Only the genetic material of the SARS-CoV-2 will be injected.">
            <input type="radio" name="cfc-q27" cf-conditional-cfc-q23="Yes" cf-label="The SARS-CoV-2 is “killed” and used as a vaccine." class="form-control" cf-label="The SARS-CoV-2 is “killed” and used as a vaccine.">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 28"></cf-robot-message> -->
        <fieldset cf-questions="Which phase of a clinical trial would you participate in?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q28" cf-conditional-cfc-q23="Yes" cf-label="Phase I" class="form-control" value="Phase I">
            <input type="radio" name="cfc-q28" cf-conditional-cfc-q23="Yes" cf-label="Phase II" class="form-control" value="Phase II"> 
            <input type="radio" name="cfc-q28" cf-conditional-cfc-q23="Yes" cf-label="Phase III" class="form-control" value="Phase III"> 
            <input type="radio" name="cfc-q28" cf-conditional-cfc-q23="Yes" cf-label="Any of the phases" class="form-control" value="Any of the phases"> 
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 29"></cf-robot-message> -->
        <fieldset cf-questions="Will the country or continent in which the vaccine is developed influence your decision to participate in the clinical trial?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q29" cf-conditional-cfc-q23="Yes" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q29" cf-conditional-cfc-q23="Yes" cf-label="No" class="form-control" value="No">    
        </fieldset>

         <!-- 
            BRANCH BACK TO 32 IF N0
        -->

         <!-- 
            BRANCH IF YES
        -->
        <!-- <cf-robot-message cf-questions="QUESTION 30"></cf-robot-message> -->
        <fieldset cf-questions="Which of these vaccines would you prefer?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Developed in Ghana" class="form-control" value="Developed in Ghana">
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Developed elsewhere in Africa" class="form-control" value="Developed elsewhere in Africa"> 
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Developed in Asia" class="form-control" value="Developed in Asia"> 
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Developed in Europe" class="form-control" value="Developed in Europe"> 
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Developed in America" class="form-control" value="Developed in America">    
            <input type="radio" name="cfc-q30" cf-conditional-cfc-q29="Yes" cf-label="Anywhere aside Ghana" class="form-control" value="Anywhere aside Ghana"> 
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 31"></cf-robot-message> -->
        <fieldset cf-questions="Would you prefer that the vaccine you take be developed by a Ghanaian or must have a Ghanaian scientist as part of the team of developers?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q31" cf-conditional-cfc-q23="Yes" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q31" cf-conditional-cfc-q23="Yes" cf-label="No" class="form-control" value="No">    
        </fieldset>

        <!-- 
            BRANCH TO 32 WHETHER YES OR NO
        -->

        <!-- <cf-robot-message cf-questions="QUESTION 32"></cf-robot-message> -->
        <fieldset cf-questions="Will you participate in a targeted or mass vaccination exercise for COVID-19?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q32" cf-label="Yes" class="form-control" value="Yes"/>
            <input type="radio" name="cfc-q32" cf-label="No" class="form-control" value="No" />
        </fieldset>
        
        <!-- END -->

        <!--BRANCH YES  -->
        <!-- <cf-robot-message cf-questions="QUESTION 33"></cf-robot-message> -->
        <fieldset cf-questions="Would you be prepared to pay for the vaccine?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q33" cf-conditional-cfc-q32="Yes" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q33" cf-conditional-cfc-q32="Yes" cf-label="No" class="form-control" value="No">
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 34"></cf-robot-message> -->
        <fieldset cf-questions="What would be the acceptable cost?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q34" cf-conditional-cfc-q33="Yes" cf-label="GHC 10 - GHC 50" class="form-control" value="GHC 10 - GHC 50">
            <input type="radio" name="cfc-q34" cf-conditional-cfc-q33="Yes" cf-label="GHC 50 – GH 100" class="form-control" value="GHC 50 – GH 100">
            <input type="radio" name="cfc-q34" cf-conditional-cfc-q33="Yes" cf-label="Above GHC 100" class="form-control" value="Above GHC 100">      
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 35"></cf-robot-message> -->
        <fieldset cf-questions="Would your participation be dependent on the origin/country in which the vaccine is developed?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q35" cf-conditional-cfc-q32="Yes" cf-label="Yes" class="form-control" value="Yes">
            <input type="radio" name="cfc-q35" cf-conditional-cfc-q32="Yes" cf-label="No" class="form-control" value="No">    
        </fieldset>

        <!-- <cf-robot-message cf-questions="QUESTION 36"></cf-robot-message> -->
        <fieldset cf-questions="Which of these vaccines would you prefer?" cf-error="Please enter a valid input">
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Deveoped in Ghana" class="form-control" value="Deveoped in Ghana">
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Developed elsewhere in Africa" class="form-control" value="Developed elsewhere in Africa"> 
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Developed in Asia" class="form-control" value="Developed in Asia"> 
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Developed in Europe" class="form-control" value="Developed in Europe"> 
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Developed in America" class="form-control" value="Developed in America">    
            <input type="radio" name="cfc-q36" cf-conditional-cfc-q32="Yes" cf-conditional-cfc-q35="Yes" cf-label="Anywhere aside Ghana" class="form-control" value="Anywhere aside Ghana"> 
        </fieldset>

       <fieldset cf-questions="Survey Complete. Thank you for your time. Kindly exit to submit your response. 😊" cf-error="Please enter a valid input">
            <input type="radio" name="exit" cf-label="exit" value="exit"/>
       </fieldset>
        <!-- END -->

      </form>

</div>
<div id="cf-context" class="dark-theme" role="cf-context" cf-context></div>

    <script src="{% static 'app/js/survey.js' %}"></script> 
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js" crossorigin></script>
</body>
</html>
