
#cf-context {
  width: 100vw;
  height: 100vh;
}


body {
  background-color: #d6dbe6;
  background-image: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #8092ae;
  font-size: 14px;
  line-height: 24px;
}

li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.hero-section {
  overflow: hidden;
  padding-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: transparent;
}

.navbar {
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
}

.nav-link {
  margin-left: 8px;
  padding: 5px 32px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(128, 146, 174, 0.2);
  color: #4000b6;
  font-size: 12px;
}

.nav-link.w--current {
  background-color: #4000b6;
  color: #fff;
}

.hero-h1 {
  margin-top: 0px;
  color: #333;
  font-size: 6em;
  line-height: 0.9em;
  font-weight: 500;
  text-transform: capitalize;
}

.hero-h2 {
  font-size: 18px;
  line-height: 32px;
  overflow: hidden;
}

._2-column {
  position: relative;
  width: 50%;
  float: left;
}

._2-column.left {
  padding-right: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._2-column.right {
  padding-left: 5%;
}

._2-column.hero-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._2-column.partnership {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.brand {
  width: 140px;
}

.brand.w--current {
  padding-left: 0px;
}

.container {
  display: block;
  width: 76%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.container.footer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.btn {
  border-radius: 4px;
  background-color: #4000b6;
  box-shadow: 0 1px 3px 0 rgba(128, 146, 174, 0.2);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  text-align: center;
}

.btn:hover {
  background-color: #2e0083;
}

.btn.hero {
  padding: 16px 56px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
}

.btn.go-home {
  margin-top: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.partners {
  width: 140px;
  opacity: 0.8;
}

.content-block {
  position: relative;
  z-index: 1;
  margin-bottom: 32px;
}

.content-block._48-margin {
  margin-bottom: 48px;
}

.content-block.welcome {
  padding-right: 32px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 26px;
}

.h2 {
  color: #333;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.feature-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-right: 2%;
  margin-bottom: 16px;
  padding-right: 24px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.div-block {
  margin-right: 10%;
  padding: 8px 24px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}

.text-block {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-section {
  padding-top: 24px;
  padding-bottom: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e5e9f5;
}

.footer-link {
  margin-right: 24px;
  float: left;
  color: #8092ae;
  text-decoration: none;
}

.quick-link-wrapper {
  float: left;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.copyright {
  margin-right: 24px;
  float: left;
}

.chat-wrapper {
  position: fixed;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 5%;
  z-index: 1000;
  max-width: 310px;
  font-size: 14px;
  line-height: 20px;
}

.chat-trigger {
  z-index: 1000;
  width: 75px;
  height: 75px;
  margin-top: 8px;
  float: right;
  border-radius: 50%;
  background-color: #4000b6;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 5px 5px 20px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.chat-prompt {
  display: none;
  margin-right: 12px;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3), 5px 5px 20px -10px rgba(0, 0, 0, 0.4);
}

.chat-prompt-h1 {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
}

.phone-screen-wrapper {
  position: absolute;
  left: 8%;
  top: 14.7%;
  right: auto;
  bottom: 100px;
  width: 84.5%;
  height: 71.5%;
  margin-right: auto;
  margin-left: auto;
  padding: 32px 5%;
  border-radius: 4px;
  background-color: #fff;
  background-image: url('../images/serenity-chat-bkg.png');
  background-position: 0px 0px;
  background-size: contain;
  color: #000;
}

.partner-h1 {
  margin-top: 18px;
  margin-right: 16px;
  margin-bottom: 18px;
  float: left;
  color: #505050;
}

.blop-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: hidden;
  width: 50%;
  height: 70%;
  background-image: url('../images/serenity-ring.svg');
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-menu {
  margin-top: 2px;
}

.hero-wrapper {
  margin-bottom: 128px;
}

.phone-wrapper {
  position: relative;
  display: none;
  width: 80%;
  float: right;
}

/* .bot {
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../images/serenity-chat-bot.jpg');
  background-position: 50% 50%;
  background-size: 130px;
  box-shadow: 0 10px 20px -10px rgba(128, 146, 174, 0.88);
} */

/* .bot-chat-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
} */

.bubble {
  margin-bottom: 8px;
  padding: 14px 24px;
  float: left;
  border-radius: 6px;
  background-color: #8092ae;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 10px -10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.bubble.user {
  background-color: #4ed4fc;
}

.bubble.bots {
  margin-left: -72px;
  border-style: solid;
  border-width: 1px;
  border-color: #5478af;
  border-radius: 10px;
}

.bubble.bots.hi {
  margin-left: -114px;
}

.bubble.bots.followup {
  margin-left: -90px;
}

.user-chat-wrapper {
  display: none;
  width: 80%;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.bot-label {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: 6px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #3db2d5;
  border-radius: 30px;
  background-color: #4ed4fc;
  color: #277992;
  font-size: 10px;
  line-height: 12px;
}

.bot-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  padding-top: 10px;
  padding-bottom: 60px;
}

.chat-float-wrapper {
  position: relative;
  width: 340px;
  float: right;
  border-bottom-left-radius: 12px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1), 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

.chat-content {
  padding: 32px 5%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #4ed4fc;
  background-image: linear-gradient(135deg, #4ed4fc, rgba(64, 0, 182, 0.7));
  color: #fff;
  text-align: center;
}

.chat-input-wrapper {
  position: relative;
  z-index: 1;
  padding: 24px 5%;
  border-bottom-left-radius: 12px;
  background-color: #fff;
}

.content-h1 {
  margin-bottom: 32px;
  font-size: 28px;
  line-height: 32px;
}

.feature-list {
  text-align: left;
}

.text-field {
  width: 78%;
  padding: 9px 25px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 146, 174, 0.22);
  border-radius: 3px;
  background-color: rgba(128, 146, 174, 0.08);
  line-height: 20px;
}

.emoji-block {
  width: 42px;
  height: 42px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 146, 174, 0.22);
  border-radius: 50%;
  background-image: url('../images/serenity-emoji.png');
  background-position: 50% 50%;
  background-size: 26px;
  background-repeat: no-repeat;
}

.chat-ai-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ai-ring-orb {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-left: -62px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-image: url('../images/serenity-Ai-center.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.ai-ring-tertiary {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4ed4fc;
  background-image: linear-gradient(135deg, #4ed4fc, rgba(64, 0, 182, 0.3));
}

.chat-tip {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: -30px;
  width: 90%;
  margin-right: -1px;
  padding: 37px;
  background-image: url('../images/serenity-chat-tip.svg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.ring-swirl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-image: url('../images/serenity-Ai-swirl.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.secondary-blop {
  position: absolute;
  left: -10%;
  top: -14%;
  right: auto;
  bottom: auto;
  width: 500px;
  height: 500px;
  background-image: url('../images/serenity-ring.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-2 {
  background-color: #fff;
}

.swirl-wrapper {
  border-radius: 50%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

._404-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

._404-logo {
  margin-right: auto;
  margin-left: auto;
}

._404-h1 {
  color: #000;
}

@media screen and (max-width: 991px) {
  .hero-h1 {
    font-size: 4.5em;
  }
  .container {
    width: 92%;
  }
  .chat-float-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  ._2-column {
    width: 100%;
  }
  ._2-column.right {
    padding-left: 0%;
  }
  ._2-column.hero-left {
    padding-right: 0%;
  }
  ._2-column.partnership {
    margin-top: 32px;
    padding-left: 0%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container.hero {
    display: block;
  }
  .container.nav {
    padding-right: 0%;
  }
  .content-block.welcome {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 24px;
  }
  .blop-wrapper {
    bottom: -50%;
  }
  .chat-float-wrapper {
    width: 70%;
    float: left;
  }
  .text-field {
    padding-right: 20px;
    padding-left: 20px;
  }
  .secondary-blop {
    width: 88%;
  }
}

@media screen and (max-width: 479px) {
  .hero-section {
    padding-bottom: 84px;
  }
  .navbar {
    margin-bottom: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4ed4fc;
  }
  .nav-link {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
  }
  .hero-h1 {
    margin-bottom: 32px;
    font-size: 3.5em;
  }
  ._2-column {
    width: 100%;
  }
  ._2-column.partnership {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .brand.w--current {
    width: 140px;
  }
  .container.hero {
    display: block;
  }
  .btn.hero {
    width: 100%;
  }
  .partners {
    width: 200px;
  }
  .footer-link {
    width: 100%;
    margin-top: 24px;
    margin-right: 0px;
  }
  .copyright {
    width: 100%;
  }
  .partner-h1 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -22px;
    float: left;
  }
  .blop-wrapper {
    bottom: -120%;
    width: 140%;
  }
  .nav-menu {
    padding: 24px 5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ed4fc), to(rgba(64, 0, 182, 0)));
    background-image: linear-gradient(180deg, #4ed4fc, rgba(64, 0, 182, 0));
  }
  .menu-button {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
    color: #4ed4fc;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #4000b6;
  }
  .hero-wrapper {
    margin-bottom: 40px;
  }
  .chat-float-wrapper {
    width: 110%;
    margin-left: -12px;
  }
  .chat-content {
    padding: 32px 8% 16px;
  }
  .text-field {
    padding-right: 5px;
    padding-left: 5px;
  }
  .secondary-blop {
    width: 100%;
  }
}

