<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

{% block body_block %}

    <canvas id="age_pie"></canvas>

    <canvas id="age_bar"></canvas>






<script>
////////////////////////////////////////////////////////////////////////////////////////////////////////////
optionsPie = {
      responsive: true,
      maintainAspectRatio: false
    };

window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      yellow: 'rgb(255, 205, 86)',
      green: 'rgb(75, 192, 192)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)'
    };

var age_pie_config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ age_data|safe }},
          backgroundColor: [
            window.chartColors.purple, window.chartColors.green, window.chartColors.red, window.chartColors.orange
          ],
          label: 'Age'
        }],
        labels: {{ age_labels|safe }}
      },
      options: optionsPie
    };

    window.onload = function() {
      var ctx = document.getElementById('age_pie').getContext('2d');
      window.agePie = new Chart(ctx, age_pie_config);
    };

var age_bar_config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ age_data|safe }},
          backgroundColor: [
            window.chartColors.purple, window.chartColors.green, window.chartColors.red, window.chartColors.orange
          ],
          borderColor: [
              "rgba(255,99,132,1)",
              "rgba(54, 162, 235, 1)",
              "rgba(255, 206, 86, 1)",
              "rgba(75, 192, 192, 1)",
              "rgba(153, 102, 255, 1)",
              "rgba(255, 159, 64, 1)"
            ],
            borderWidth: 1,
          label: 'Age'
        }],
        labels: {{ age_labels|safe }}
      },
      options: optionsPie
    };

    window.onload = function() {
      var ctx = document.getElementById('age_bar').getContext('2d');
      window.ageBar = new Chart(ctx, age_bar_config);
    };




////////////////////////////////////////////////////////////////////////////////////////////////////////////





















































































{% endblock body_block %}

</script>